[submodule "FiftyOne.DeviceDetection.Hash.Engine.OnPremise/device-detection-cxx"]
	path = FiftyOne.DeviceDetection.Hash.Engine.OnPremise/device-detection-cxx
	url = https://github.com/51Degrees/device-detection-cxx.git
