<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PipelineOptions" type="FiftyOne.Pipeline.Core.Configuration.PipelineOptions"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <PipelineOptions>
    <Elements>
      <Element>
        <BuildParameters>
          <AutoUpdate>false</AutoUpdate>
          <DataFileSystemWatcher>false</DataFileSystemWatcher>
          <DataUpdateOnStartup>false</DataUpdateOnStartup>
          <CreateTempDataCopy>false</CreateTempDataCopy>
          <DataFile>..\\..\\..\\..\\..\\..\\..\\device-detection-cxx\\device-detection-data\\51Degrees-LiteV4.1.hash</DataFile>
          <PerformanceProfile>LowMemory</PerformanceProfile>
        </BuildParameters>
        <BuilderName>DeviceDetectionHashEngineBuilder</BuilderName>
      </Element>
    </Elements>
  </PipelineOptions>
</configuration>
