name: Data File Change

on:
  workflow_dispatch:
    inputs:
      dryrun:
        type: boolean
        default: false

jobs:
  DataFileChange:
    name: Data File Change
    uses: 51Degrees/common-ci/.github/workflows/nightly-data-file-change.yml@main
    with:
      repo-name: ${{ github.event.repository.name }}
      org-name: ${{ github.event.repository.owner.login }}
      dryrun: ${{ inputs.dryrun || false }}
    secrets:
      token: ${{ secrets.ACCESS_TOKEN }}
      data-key: ${{ secrets.DEVICE_DETECTION_KEY }}
      data-url: ${{ secrets.DEVICE_DETECTION_URL }}
